<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(\.env|\.env\..*|composer\.(json|lock)|composer\.phar|composer-setup\.php)$ - [F,L]
    RewriteRule ^(app|config|database|resources|vendor|scratch)(/|$) - [F,L]
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
